<div class="intro">
  <h1>Películas Star Wars</h1>
  <p>Bienvenido a la página informativa de STAR WARS</p>
  <p>Consumo de la api <a href="https://swapi-graphql-integracion-t3.herokuapp.com/">https://swapi-graphql-integracion-t3.herokuapp.com/</a></p>
</div>

<div class="general">
  <table>
    <thead>
      <th>Nombre</th>
      <th>Episodio</th>
      <th>Director</th>
      <th>Productor(es)</th>
      <th>Fecha lanzamiento</th>
    </thead>
    <tbody>
      <% @films.each do |film| %>
      <tr>
        <%= film["id"] %>
        <td class="hover"><%= link_to film["title"], {controller: "app", action: "film", id: film["id"]} %></td>
        <td><%= film["episodeID"] %></td>
        <td><%= film["director"] %></td>
        <% @producers = film["producers"] %>
        <% @producers_show = "" %>
        <% @producers.each do |producer| %>
          <% @producers_show += producer + ", "%>
        <% end %>
        <% @producers_show = @producers_show[0..-3] %>
        <td>
          <%= @producers_show %>
        </td>
        <td><%= film["releaseDate"] %></td>
        <td class="hover"><%= link_to "más info", {controller: "app", action: "film", id: film["id"]} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
