<div class="intro">
  <h2>Planeta </h2>
  <h1><%= @planet["name"] %></h1>
</div>

<div class="general">
  <table class="planets-table">
    <thead>
      <th>Nombre</th>
      <th>Período rotacional</th>
      <th>Período orbital</th>
      <th>Diametro</th>
      <th>Clima</th>
      <th>Gravedad</th>
      <th>Terreno</th>
      <th>Agua en superficie</th>
      <th>Población</th>
    </thead>
    <tbody>
      <tr>
        <td><%=@planet["name"]%></td>
        <td><%=@planet["rotationPeriod"]%></td>
        <td><%=@planet["orbitalPeriod"]%></td>
        <td><%=@planet["diameter"]%></td>
        <% @climates = @planet["climates"] %>
        <% @climates_show = "" %>
        <% @climates.each do |climate| %>
          <% @climates_show += climate + ", "%>
        <% end %>
        <% @climates_show = @climates_show[0..-3] %>
        <td>
          <%= @climates_show %>
        </td>
        <td><%=@planet["gravity"]%></td>
        <% @terrains = @planet["terrains"] %>
        <% @terrains_show = "" %>
        <% @terrains.each do |terrain| %>
          <% @terrains_show += terrain + ", "%>
        <% end %>
        <% @terrains_show = @terrains_show[0..-3] %>
        <td>
          <%= @terrains_show %>
        </td>
        <% if @planet["surfaceWater"]%>
          <td><%=@planet["surfaceWater"]%></td>
        <% else %>
          <td> No tiene agua</td>
        <% end %>
        <td><%=@planet["population"]%></td>
      </tr>
    </tbody>
  </table>

</div>
<div class="people">
  <table>
    <thead>
      <th>Residentes</th>
    </thead>
    <tbody>
      <% if @residents %>
        <% @residents.each do |res| %>
          <td class="hover"><%= link_to res["name"], {controller: "app", action: "person", id: res["id"]} %></td>
        <% end %>
      <% else %>
        <td>No hay residentes</td>
      <% end %>
    </tbody>
  </table>
</div>
<div class="films">
  <table>
    <thead>
      <th>Películas</th>
    </thead>
    <tbody>
      <% if @films != []%>
        <% @films.each do |film| %>
          <td class="hover"><%= link_to film["title"], {controller: "app", action: "film", id: film["id"]} %></td>
        <% end %>
      <% else %>
        <td>No aparece en películas</td>
      <% end %>
    </tbody>
  </table>
</div>
