<div class="intro">
  <h2>Nave espacial</h2>
  <h1><%= @starship["name"] %></h1>
</div>

<div class="general">
  <table>
    <thead>
      <th>Nombre</th>
      <th>Modelo</th>
      <th>Manufacturero(s)</th>
      <th>Costo en creditos</th>
      <th>Largo</th>
      <th>Velocidad en atmósfera (máx)</th>
      <th>Tripulación</th>
      <th>Pasajeros</th>
      <th>Capacidad de carga</th>
      <th>Consumibles</th>
      <th>Ratio hiperimpulsor</th>
      <th>MGLT</th>
      <th>Clase nave espacial</th>
    </thead>
    <tbody>
      <tr>
        <td><%=@starship["name"]%></td>
        <td><%=@starship["model"]%></td>
        <% @manufacturers = @starship["manufacturers"] %>
        <% @manufacturers_show = "" %>
        <% @manufacturers.each do |manufacturer| %>
          <% @manufacturers_show += manufacturer + ", "%>
        <% end %>
        <% @manufacturers_show = @manufacturers_show[0..-3] %>
        <td>
          <%= @manufacturers_show %>
        </td>
        <td><%=@starship["costInCredits"]%></td>
        <td><%=@starship["length"]%></td>
        <td><%=@starship["maxAtmospheringSpeed"]%></td>
        <td><%=@starship["crew"]%></td>
        <td><%=@starship["passengers"]%></td>
        <td><%=@starship["cargoCapacity"]%></td>
        <td><%=@starship["consumables"]%></td>
        <td><%=@starship["hyperdriveRating"]%></td>
        <td><%=@starship["MGLT"]%></td>
        <td><%=@starship["starshipClass"]%></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="people">
  <table>
    <thead>
      <th>Pilotos</th>
    </thead>
    <tbody>
      <% if @pilots != [] %>
        <% @pilots.each do |pil| %>
          <td class="hover"><%= link_to pil["name"], {controller: "app", action: "person", id: pil["id"]} %></td>
        <% end %>
      <% else %>
        <td>No tiene pilotos designados</td>
      <% end %>
    </tbody>
  </table>
</div>
<div class="films">
  <table>
    <thead>
      <th>Películas</th>
    </thead>
    <tbody>
      <% if @films != []%>
        <% @films.each do |film| %>
          <td class="hover"><%= link_to film["title"], {controller: "app", action: "film", id: film["id"]} %></td>
        <% end %>
      <% else %>
        <td>No aparece en películas</td>
      <% end %>
    </tbody>
  </table>
</div>
