<!DOCTYPE html>
<html>
  <head>
    <title>Tarea1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="buscador">
        <%= form_tag(controller: "app", action: "search") do %>
          <%= label_tag(:q, "Buscar:") %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("Buscar") %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
